#manageUserBase {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 80px 20px 80px 280px;
  .form-box {
    padding: 20px;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .headingTag{
        font-size: 22px;
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }
    .formGroup{
        margin-bottom: 10px;
        label{
            padding-bottom: 10px;
            font-size: 14px;
        }
    }
  }
}
